.setting-border{
    border-right: 1px solid #353533;

}

.border-setting{
    border-bottom: 1px solid #353533;
}

.danhsach{
    font-size: 28px;
    text-shadow: 1px 1px rgb(212, 219, 104);
    margin-bottom: 20px;
}

.disloy{
    text-decoration: none;
    color: var(--main-text);
}

.disloy:hover{
    color: var(--main-text);
}